@import './reset.css';

:root {
    --light-main-color: #ddd5f7;
    --main1-color: #8468e8;
    --main2-color: #6A44F2;
    --drak-main-color: #392d68;
    --lightgray-color: #f2f2f2;
    --gray-color: #A2A2A2;
    --dark-background-color: #160c2e;

    --space-xxl: 72px;
    --space-xl: 48px;
    --space-l: 24px;
    --space-m: 16px;
    --space-s: 12px;
    --space-xs: 8px;
    --space-xxs: 4px;

    --fontsize-h1: 30px;
    --fontsize-h2: 26px;
    --fontsize-h3: 24px;
    --fontsize-l: 22px;
    --fontsize-m: 18px;
    --fontsize-s: 16px;
    --fontsize-xs: 14px;
}

body {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--light-main-color);
}

header {
    text-align: center;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-s);
    font-size: var(--fontsize-h3);
    color: var(--drak-main-color);
    font-weight: 900;
}

#welcome form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--space-m);
    font-size: var(--fontsize-h2);
}

#roomName {
    font-size: var(--fontsize-h2);
    font-weight: 600;
    outline: none;
    border: solid 3px var(--main1-color);
    border-radius: 15px;
    padding: var(--space-xs);
    padding-left: var(--space-s);
    color: var(--main1-color);
    margin: var(--space-s);
    margin-top: var(--space-xl);
}

#roomName::placeholder {
    color: var(--gray-color);
    font-size: var(--fontsize-l);
    font-weight: 400;
}

#userName {
    font-size: var(--fontsize-h2);
    font-weight: 600;
    outline: none;
    border: solid 3px var(--main1-color);
    border-radius: 15px;
    padding: var(--space-xs);
    padding-left: var(--space-s);
    color: var(--main1-color);
    margin: var(--space-s);
}

#userName::placeholder {
    color: var(--gray-color);
    font-size: var(--fontsize-l);
    font-weight: 400;
}

#enterBtn {
    background-color: var(--main1-color);
    border-radius: 30px;
    color: white;
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    font-size: var(--fontsize-m);
    font-weight: 600;
    margin: var(--space-l);
    height: 60px;
}

#enterBtn:hover {
    background-color: var(--main2-color);
    transform: scale(1.05);
}

#options {
    margin-top: var(--space-m);
}

#cameras {
    color: var(--main1-color);
    background-color: var(--light-main-color);
    border: none;
    padding-left: var(--space-m);
    padding-right: var(--space-s);
    font-size: var(--fontsize-s);
    font-weight: 600;
}

#btn-div {
    margin: var(--space-m);
}

#mute {
    background-color: var(--main1-color);
    border-radius: 30px 0 0 30px;
    color: white;
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    font-size: var(--fontsize-m);
    font-weight: 600;
    height: 60px;
}

#mute:hover {
    background-color: var(--main2-color);
}

#camera {
    background-color: var(--main1-color);
    border-radius: 0 30px 30px 0;
    color: white;
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    font-size: var(--fontsize-m);
    font-weight: 600;
    height: 60px;
}

#camera:hover {
    background-color: var(--main2-color);
}

#roomTitle {
    align-items: center;
    margin: var(--space-s);
    color: var(--main2-color);
    font-size: var(--fontsize-m);
    font-weight: 600;
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--space-s);
}

#face {
    display: flex;
    margin: var(--space-s);
}

#chat-div {
    width: 350px;
    margin-top: var(--space-s);
    margin-bottom: var(--space-l);
}

#chatTitle {
    color: var(--main2-color);
    font-size: var(--fontsize-h2);
    font-weight: 600;
    margin-bottom: var(--space-m);
    text-align: center;
}

#chat {
    height: 420px;
    border-radius: 20px 20px 0 0;
    background-color: var(--lightgray-color);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#chat ul {
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    margin-top: var(--space-xxs);
    margin-bottom: var(--space-s);
    margin-left: var(--space-m);
    margin-right: var(--space-s);
    font-size: var(--space-m);
    font-weight: 300;
    color: var(--dark-background-color);
}

#msg {
    border-radius: 0 0 20px 20px;
    padding: var(--space-m);
    background-color: var(--main1-color);
}

#message {
    width: 320px;
    font-size: var(--fontsize-m);
    font-weight: 400;
    border: none;
    outline: none;
    background-color: var(--main1-color);
    color: white;
}

#message::placeholder {
    color: var(--light-main-color);
    font-size: var(--fontsize-s);
    font-weight: 400;
}

#myFace {
    width: 480px;
    border-radius: 50px 0 0 50px;
}

#peerFace {
    width: 480px;
    border-radius: 0 50px 35px 0;
}

span {
    font-size: var(--fontsize-m);
    font-weight: 600;
    font-style: italic;
    color: var(--main2-color);
    margin: var(--space-xxs);
    align-items: flex-end;
    text-align: end;
}

p {
    font-size: var(--fontsize-m);
    font-weight: 600;
    font-style: italic;
    color: var(--main2-color);
    margin: var(--space-xxs);
}

li {
    font-weight: 400;
    font-size: var(--fontsize-s);
    font-style: normal;
    background-color: var(--light-main-color);
    border-radius: 6px;
    padding: var(--space-xxs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

@media screen and (max-width:1300px) {
    #outer {
        flex-direction: column;
    }

    #chat-div {
        width: 600px;
    }

    #message {
        width: 570px;
    }

    #chat {
        height: 200px;
    }
}